In [3]:
# import requests
# import numpy as np

# !pip install opencv-python
# !pip install jupyterlab-lsp

# !pip install pandas
import pandas as pd
import numpy as np
# pd.read_csv()

In [ ]:
stream="https://db.magnifi.ai/videos?filters={%22category%22:[],%22sortBy%22:{%22_id%22:-1},%22activePage%22:1,%22userId%22:%22WzLdx1SU6%22,%22streamSearchText%22:%22%22,%22limit%22:20,%22userName%22:%22%22,%22status%22:%221%22,%22duration%22:[],%22workSpaces%22:%22self%22,%22aspectRatio%22:%22%22,%22channels%22:[],%22showTypes%22:[],%22categorySelections%22:{}}"

In [ ]:
response=requests.get(stream)
js=response.json()

In [ ]:
urls="https://dbai.magnifi.ai/get/clips/{XRtcsFdMj}?limit=1000&pageNo=1&filters={{\"players\":[],\"WKT\":[],\"sortBy\":\"TIME_DESCENDANT\",\"aspectRatio\":\"\",\"playBackSpeed\":[],\"webhookPublish\":\"\",\"clipData\":{{}}}}&daterange=[]&sort={{\"start_time\":-1,\"_id\":1}}&type=all&search=&aspectRatio=&webhookPublish=&isManualUpload=false&skipCount="

In [ ]:
resp=requests.get(urls)
jsin=resp.json()
jsin.get("clips",[])

In [4]:
import cv2

# Load image
img = cv2.imread('/home/link-lap-24/mpv-shot0002.jpg') 

# Convert to grayscale
gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)

# Apply thresholding to highlight arrow sign
_, thresh = cv2.threshold(gray, 150, 255, cv2.THRESH_BINARY)

# Save the thresholded image to the local disk
cv2.imwrite('/home/link-lap-24/kdk_thresholded.jpg', thresh)

# Display the result
cv2.imshow('Thresholded Image', thresh)
cv2.waitKey(0)
cv2.destroyAllWindows()

ModuleNotFoundError: No module named 'cv2'

In [6]:
# Load the template image (arrow sign)
template = cv2.imread('/home/link-lap-24/kdk_thresholded.jpg', 0)

# Match template
res = cv2.matchTemplate(thresh, template, cv2.TM_CCOEFF_NORMED)
threshold = 0.8
loc = np.where(res >= threshold)

# Draw rectangle around detected arrow
for pt in zip(*loc[::-1]):
    cv2.rectangle(img, pt, (pt[0] + template.shape[1], pt[1] + template.shape[0]), (0, 255, 0), 2)

# Show result
cv2.imshow('Detected Arrow', img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [5]:
import cv2
import pytesseract

# Load the image
image_path = '/home/link-lap-24/mpv-shot0010.jpg'
image = cv2.imread(image_path)

# Convert the image to grayscale for better OCR results
gray_image = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

# Use pytesseract to extract text from the image
text = pytesseract.image_to_string(gray_image)

# Display the extracted text
print("Extracted Text:")
print(text)

# Parse the text to find striker and non-striker information
# In your example, striker name appears next to the pen icon and non-striker after that
# Modify this logic depending on the text format and keywords extracted

# Example logic based on pattern matching
lines = text.split('\n')
for line in lines:
    if 'Rogers' in line:  # Replace with the actual striker name keyword
        print("Striker: Rogers")
    if 'Evison' in line:  # Replace with the actual non-striker name keyword
        print("Non-striker: Evison")

Extracted Text:

In [8]:
a = [10, 20, 30, 40, 50]

for i in a :
    if i >20:
        print(i)

30
40
50

In [23]:
# Access List Item
a[:3]

[10, 20, 40]

In [24]:
# Replace Values in a List in Python?
a[2]=100

In [11]:
print(a)

[10, 20, 100, 40, 50]

In [14]:
a[1:2] = [44,96]

In [15]:
print(a)

[10, 44, 96, 96, 50]

In [16]:
a = [10, 20, 30, 40, 50]

df = list(map(lambda x: x + 1 ,a))
df

[11, 21, 31, 41, 51]

In [22]:
# How to Remove Item from a List in Python
a = [10, 20, 30, 40, 50]
a.remove(30)
print(a)

[10, 20, 40, 50]

In [26]:
# List append() Method
a = [10, 20, 30, 40, 50]
a.append(99)
print(a)

[10, 20, 30, 40, 50, 99]

In [29]:
# List insert() method inserts an item at a specific index in a lisappendt.
fruit = ["tushar","ritik","lata"]
fruit.insert(1,"mukesh")
print(fruit)

['tushar', 'mukesh', 'ritik', 'lata']

In [30]:
#reverse a list
a = [10, 20, 30, 40, 50]
a[:: -1]

[50, 40, 30, 20, 10]

In [33]:
# Appending List to a List
# When appending one list to another, the entire list is added as a single element, creating a nested list.

a = [1,2,3]

a.append([5,6,"tushar"])
a

[1, 2, 3, [5, 6, 'tushar']]

In [39]:
# Extending a list in Python
a = [1,2,3]
b = [4,5,6]

# a.extend(b)

a += b
print(a)

[1, 2, 3, 4, 5, 6]

In [45]:
c =[1, 2, 3, 4, 5, 6]

c[:4]

[1, 2, 3, 4]

In [46]:
c =[1, 2, 3, 4, 5, 6]

c[4:]

[5, 6]

In [48]:
a = 5
b = 10

c=max(a,b)
print(c)

10

In [49]:
# How To Find the Length of a List in Python
c =[1, 2, 3, 4, 5, 6]
len(c)

6

In [53]:
# Using loop (Naive method)

c =[1, 2, 3, 4, 5, 6]

counter = 0
for i in c:
    counter +=1
print(counter)

6

In [55]:
# Minimum of two numbers in Python
a = 5
b = 10

print(min(a,b))

5

In [57]:
a = 5
b = 10

if a < b:
    print(a)
else:
    print(b)

5

In [60]:
# Python program to interchange first and last elements in a list
my_list = [1, 2, 3, 4, 5]
my_list[0] =10
my_list[4]= 50
my_list

[10, 2, 3, 4, 50]

In [61]:
my_list[0],my_list[-1] = 11,55
my_list

[11, 2, 3, 4, 55]

In [114]:
# Swapping first and last items in a list using tuple variable

def swap(listt):
    
    get = listt[-1] , listt[0]
    listt[0] ,listt[-1] = get
    return listt

my_list = [1, 2, 3, 4, 5]
swap(my_list)

[5, 2, 3, 4, 1]

In [125]:
my_list = [1, 2, 3, 4, 5]

get = my_list[-1],my_list[0]
# print(get)
my_list[0],my_list[1] = get
get = my_list
get

[5, 1, 3, 4, 5]

In [75]:
# 1. Python program to remove characters from a string

a = "tusthar"

rm = "u"

print(a.replace(rm ," "))

t sthar

In [77]:
str = "Python"
ch = "o"
print(str.replace(ch," ")) 

# >> Pyth n

Pyth n

In [79]:
# 2. Python Program to count occurrence of characters in string

a.count("t")

2

In [145]:
string = "Python"
char = "y"
count = 0
for i in range(len(string)):
#     print(i)
    if(string[i] == char):
        count = count + 1
# print(count)

In [154]:
# 0 1 1 2 3 
# Fibonacci number
a = 0
b = 1
c = 2
d = 3
e = 4
num = int(input("enter number:"))

if num == 1:
    print(a)
elif num == 2:
        print(a,b ,end = " ")    
elif num == 3:
        print(a,b,b ,end = " ")
elif num == 4:
        print(a,b,b,b+b,end = " ")
elif num == 5:
        print(a,b,b ,b+b,b+c,end = " ")

enter number:4
0 1 1 2

In [153]:
# Fibonacci number correct way
a = 0
b = 1
n=int(input("Enter the number of terms in the sequence: "))

if n == 1:
    print(a)
elif n == 2:
    print(a , b)
else:
    print(a ,b ,end = " ")
    while n > 2:
        c = a + b
        a ,b = b ,c
        print(c , end = " ")
        n -= 1

Enter the number of terms in the sequence: 4
0 1 1 2

In [103]:
# find the largest word
test = "Enter the number fdfdfdfd"
words = test.split()

largest_word = words[0]  # Assume the first word is the largest initially

for word in words:
    if len(word) > len(largest_word):
        largest_word = word

print(largest_word)

fdfdfdfd

In [113]:
test = "fdfdfdfd Enter the number fdfdfdfdl "

words =test.split()
# print(type(words))

largest_word = words[0]
# print(largest_word)

for i in words:
    if len(i) > len(largest_word):
        largest_word = i

print(largest_word)

fdfdfdfdl

In [155]:
test = "Enter the number"
largest_word = max(test.split(), key=len)
print(largest_word)

number

In [190]:
def custom_isdigit(s):
    digits = "0123456789"  # Allowed characters
    for char in s:
        if char not in digits:
            return False
    return True

In [193]:
fg = "fasdaaa5d"
for i in fg:
    print(custom_isdigit(fg))

False
False
False
False
False
False
False
False
False

In [181]:
fg = "fasdaaa5d"
summ = []

for i in fg:
    if checking_no(i) == True:
        print(i)
#         summ.append(i)
# print(summ)

In [32]:
# get the total from the alfanumerical string
digits = "012s455f3gsa456b78h9"

number = []
strr = []
for i in digits:
    try:
        df = int(i)
        number.append(i)
    except:
        strr.append(i)
    
# print(number)
# for jss in strr:
#     print(jss , end= "")   #print only string in a single line

total = 0
for j in number:
    total += int(j)
print(total)

59

In [34]:
import re
digits = "012s455f3gsa456b78h9"
num = re.findall(r"\d",digits)
# print(num)

get_totl = 0
for s in num:
    get_totl += int(s)
print(get_totl)

59

In [46]:
import re
digits = "012s455f3gsa456b78h9"
num = re.findall(r"\d",digits)
print(num)

total_sum = sum(map(int,num))
print(type(total_sum))

['0', '1', '2', '4', '5', '5', '3', '4', '5', '6', '7', '8', '9']
<class 'int'>

In [47]:
ddf = ["5"]
# print(type(int(ddf[0])))

print(map(int ,ddf[0]))

<map object at 0x7ff0d3a42400>

In [60]:
import re
digits = "012s455f3gsa456b78h9"

nudd = re.findall(r"\d" , digits)
# print(nudd)

# dss = 0
# for i in nudd:
#     dss += int(i)
# print(dss)

sum(map(int ,num))

59

In [67]:
import math

n = 5
print(math.factorial(n))

120

In [65]:
#find the factorial 
def fact(n):
    if(n==1):
        return n
    else:
        return n*(fact(n-1))


num = int(input("Enter a number: "))

if num<0:
    print("Negative numbers are not allowed.")
elif num==0:
    print("Factorial is: 1")
else:
    print("Factorial is: ",fact(num))

Enter a number: 3
Factorial is:  6

In [85]:
nn = 2
resutl = 1
for i in range (1,nn + 1):
    resutl *= i
print(resutl)

2

In [9]:
def factorial(n):
    out =1
    for i in range(1,n +1):
        out *= i
    return out

factorial(5)

120

In [11]:
for i in range(1,6):
    print(i)

24*5

1
2
3
4
5

120

In [105]:
import time

begin = time.time()
one = []
for i in range(1,10):
    for j in range(1,10):
        for s in range(1,10):
            for h in range(1,10):
                if i ==1:
                    one.append(i)
print(len(one))

end = time.time()
ex_time = end - begin
ex_time

729

0.0005321502685546875

In [111]:
import cv2

img = "/home/link-lap-24/test.jpg"

img = cv2.imread(img,0)
img
# img.shape
()

array([[178, 178, 178, ..., 172, 172, 172],
       [178, 178, 178, ..., 172, 172, 172],
       [178, 178, 178, ..., 172, 172, 172],
       ...,
       [128, 128, 128, ..., 115, 115, 115],
       [128, 128, 128, ..., 115, 115, 115],
       [129, 129, 129, ..., 115, 115, 115]], dtype=uint8)

In [112]:
# Write a python program using decorator to reorder the sequence of unorder 
# number in ascending format [8,6,3,6,9,1,0,44,5,23,7,123,6,1,0] (Brute force algorithm).

# Decorator function for sorting
def sort_decorator(func):
    def wrapper(numbers):
        sorted_numbers = sorted(numbers)  # Python's built-in sorting method
        return func(sorted_numbers)
    return wrapper

# Function to display sorted list
@sort_decorator
def display_sorted_list(numbers):
    print("Sorted List:", numbers)

# Unordered list
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

# Display the sorted list
display_sorted_list(numbers)

Sorted List: [0, 0, 1, 1, 3, 5, 6, 6, 6, 7, 8, 9, 23, 44, 123]

In [113]:
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

sorted(numbers)

[0, 0, 1, 1, 3, 5, 6, 6, 6, 7, 8, 9, 23, 44, 123]

In [3]:
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

# for i in numbers:
    
    
for i in range(0,123):
    for j in numbers:
        if i < j:
            print(i)

IndentationError: expected an indented block (4238447192.py, line 9)

In [42]:
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

# Brute force sorting (Bubble sort logic)
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
#         print(j)
        if numbers[i] > numbers[j]:  # Swap if elements are out of order
#             print(numbers[i],numbers[j])
            numbers[i], numbers[j] = numbers[j], numbers[i]

print("Sorted List:", numbers)

Sorted List: [0, 0, 1, 1, 3, 5, 6, 6, 6, 7, 8, 9, 23, 44, 123]

In [43]:
#for arranging decreasing order
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

# Brute force sorting (Bubble sort logic)
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
#         print(j)
        if numbers[i] < numbers[j]:  # Swap if elements are out of order
#             print(numbers[i],numbers[j])
            numbers[i], numbers[j] = numbers[j], numbers[i]

print("Sorted List:", numbers)

Sorted List: [123, 44, 23, 9, 8, 7, 6, 6, 6, 5, 3, 1, 1, 0, 0]

In [17]:
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

for i in range(len(numbers)):
    for j in range(i + 1,len(numbers)):
        if numbers[i] > numbers[j]:
            numbers[i],numbers[j] = numbers[j],numbers[i]
print(numbers)

[0, 0, 1, 1, 3, 5, 6, 6, 6, 7, 8, 9, 23, 44, 123]

In [26]:
# if 8 > 6:
#     print("true")
if 6 >  8:
    print("false")

In [34]:
# for i in range(0,15):
#     for j in range(1,15):
#         print(j,i)

In [47]:
# 5. Using Bubble Sort Algorithm
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

# Bubble Sort Logic
n = len(numbers)
for i in range(n):
    for j in range(0, n-i-1):
        if numbers[j] > numbers[j + 1]:
            numbers[j], numbers[j + 1] = numbers[j + 1], numbers[j]

print("Sorted List:", numbers)

Sorted List: [0, 0, 1, 1, 3, 5, 6, 6, 6, 7, 8, 9, 23, 44, 123]

In [40]:
numbers = [8, 6, 3, 6, 9, 1, 0, 44, 5, 23, 7, 123, 6, 1, 0]

numbers[:: -1]

[0, 1, 6, 123, 7, 23, 5, 44, 0, 1, 9, 6, 3, 6, 8]

In [46]:
d = "dasda"
d[:: -1]

'adsad'

In [18]:
# Given the list lst = [1, 2, 3, 1, 4, 2, 3, 5, 6, 5], write a Python program to count the occurrences of each element
# in the list and print the results.

In [4]:
lst = [1, 2, 3, 1, 4, 2, 3, 5, 6, 5, 5]

for i in set(lst):
   df = lst.count(i)
   print(f"{i}" , df)

1 2
2 2
3 2
4 1
5 3
6 1

In [16]:
#without function
lst = [1, 2, 3, 1, 4, 2, 3, 5, 6, 5, 5]

dicti = {}

for i in lst:
    if i in dicti:
        dicti[i] += 1
    else:
        dicti[i] = 1
print(dicti)

{1: 2, 2: 2, 3: 2, 4: 1, 5: 3, 6: 1}

In [37]:
#without function
lst = [1, 2, 3, 1, 4, 2, 3, 5, 6, 5, 5]

dicti = {}

for i in lst:
    if i in dicti:
        dicti[i] += 1
    else:
        dicti[i] = 1

for key,value in dicti.items():
    print(f"{key}:{value}")

1:2
2:2
3:2
4:1
5:3
6:1

In [17]:
dicti = {}
dicti[1] = 2
dicti

{1: 2}

In [ ]:
# Given the list a = ['my', 'name', 'is', 'omkar'], how can you create a sentence from its elements?

In [44]:
a = ['my', 'name', 'is', 'omkar']
nes = a[0] + a[1] + a[2] + a[3]
print(nes)

mynameisomkar

In [29]:
a = ['my', 'name', 'is', 'omkar']

for i in a:
    print(i , end = " ")

my name is omkar

In [43]:
a = ['my', 'name', 'is', 'omkar']

dr = " ".join(a)
dr
print(dr)

my name is omkar

In [ ]:
# Given a list, write a single line of code to select every alternate element, 
# either starting from the first element or the second element. For example, 
# if the list is a = [1, 2, 3, 4, 5, 6], how can you select [1, 3, 5] or [2, 4, 6]?

In [51]:
a = [1, 2, 3, 4, 5, 6]
first = []  #also has it has odd number
second = [] #even number

for i in a:
    if i % 2 == 0:
        second.append(i)
    else:
        first.append(i)
print(first)
print(second)

[1, 3, 5]
[2, 4, 6]

In [82]:
#get the total of foot price

samples = [
    {"foot": "nike", "price": "4500"},
    {"vegi": "tomoto", "price": "52"},
    {"elec": "micke", "price": "4700"},
    {"home": "mixture", "price": "4900"},
    {"foot": "skechers", "price": "5300"}
]

In [81]:
total = 0
for i in samples:
    if "foot" in i:
        total += (int(i['price']))
print(total)

9800

In [ ]:
{'foot': 'nike', 'price': '4500'}
{'foot': 'skechers', 'price': '5300'}

In [ ]:
# Write a Python program to calculate and print the average scores in Physics and Chemistry for each student
# given in the following dictionary: data =
# 'Name': ['Tom', 'nick', 'Tom', 'jack', 'nick'],
# 'Physics': [20, 30, 80, 50, 40],
# 'Chemistry': [40, 70, 60, 50, 80]
# }

In [1]:
data ={
'Name': ['Tom', 'nick', 'Tom', 'jack', 'nick'],
'Physics': [20, 30, 80, 50, 40],
'Chemistry': [40, 70, 60, 50, 80]
}

In [2]:
data

{'Name': ['Tom', 'nick', 'Tom', 'jack', 'nick'],
 'Physics': [20, 30, 80, 50, 40],
 'Chemistry': [40, 70, 60, 50, 80]}

In [46]:
score = {}
for i in range(len(data["Name"])):
    name = data["Name"][i]
    p

0
1
2
3
4

In [38]:
import pandas as pd
# 40+70+60+50+80/5
df = pd.DataFrame(data)
df
# df.describe()
# df.info()
# df["Name"].value_counts()
# df["Physics"].sum()
df.groupby("Name").mean()

      Physics  Chemistry
Name
Tom      50.0       50.0
jack     50.0       50.0
nick     35.0       75.0

In [17]:
data['Name'][0]
data["Physics"][0]

20

In [44]:
data = {
    'Name': ['Tom', 'nick', 'Tom', 'jack', 'nick'],
    'Physics': [20,    30,     80,    50,     40],
    'Chemistry': [40,  70,    60,    50,     80]
}

scores = {}

for i in range(len(data['Name'])):
    name, phy, chem = data['Name'][i], data['Physics'][i], data['Chemistry'][i]
    
    if name in scores:
        scores[name][0] += phy
        scores[name][1] += chem
        scores[name][2] += 1
    else:
        scores[name] = [phy, chem, 1]

for name in scores:
    print(name, "-> Physics Avg:", round(scores[name][0] / scores[name][2], 2),
          ", Chemistry Avg:", round(scores[name][1] / scores[name][2], 2))

Tom -> Physics Avg: 50.0 , Chemistry Avg: 50.0
nick -> Physics Avg: 35.0 , Chemistry Avg: 75.0
jack -> Physics Avg: 50.0 , Chemistry Avg: 50.0

In [43]:
for jh in sco:
    print(jh)

Tom
nick
jack

In [24]:
data = {
    'Name': ['Tom', 'nick', 'Tom', 'jack', 'nick'],
    'Physics': [20, 30, 80, 50, 40],
    'Chemistry': [40, 70, 60, 50, 80]
}

sc = {}
for j in range(len(data["Name"])):
    name , phy ,chem = data['Name'][j],data['Physics'][j],data['Chemistry'][j]

    if name in sc:
        sc[name][0] += phy
        sc[name][1] += chem
        sc[name][2] += 1
    else:
        sc[name] = [phy,chem,1]
sc

for jk in sc:
    print(jk , "phy avg ",round(sc[jk][0] / sc[jk][2],2), jk, "chem avg" ,sc[jk][1] / sc[jk][2])

Tom phy avg  50.0 Tom chem avg 50.0
nick phy avg  35.0 nick chem avg 75.0
jack phy avg  50.0 jack chem avg 50.0

In [43]:
#find duplicates
demo = [20, 30, 80, 50, 40,80]

new = []
for i in set(demo):
    new.append(i)
print(new)

[40, 80, 50, 20, 30]

In [48]:
#fing duplicate in the list

demo = [20, 30, 80, 50, 40,80]

rr = {}
for i in demo:
    if i in rr:
        rr[i] +=1
    else:
        rr[i] = 1
# print(rr)

for key,value in rr.items():
    if value ==2:
        print(f"{key} is duplicate in list")

80 is duplicate in list

In [53]:
#fing duplicate in the string
my = "tusharbh"

hg = {}
for i in my:
    if i in hg:
        hg[i] += 1
    else:
        hg[i] = 1
for key,value in hg.items():
    if value == 2:
        print(f"{key}: is duplicate in my variable")

h: is duplicate in my variable

In [1]:
demo = [20, 30, 80, 50, 40,80]

for i in demo:
    if i in

SyntaxError: invalid syntax (2031767038.py, line 4)